
.main{
  margin: 0 auto;
  
  &__btns{
    display: flex;
    width:100%;
    button{
      flex:1 1 50%;
      padding:12px;
      border:none;
      cursor:pointer;
      border-radius:5px 5px 0 0;
      background-color:#b3e5fc;
      &.active{
        color:white;
        background-color:#81d4fa;


      }
    }
  }  
}
.auth{
margin:0 auto;
 padding:20px;
 color:white;
   background-color:#81d4fa;

h2{
  margin:0;
  text-align: center;
  letter-spacing: 5px;
}
form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  label{
    align-self:start;
    margin-left:5%;
    margin-bottom:6px;
    font-weight:600;
  }
  input{
    padding:6px;
    width:90%;
    margin-bottom:15px;
    
  }
  .alert{
    height:24px;
  }
  button{
    padding:12px;
    margin:20px 12px;
    width:90%;
    border:none;
    cursor:pointer;
    align-self: center;
          background-color:#b3e5fc;
          color:white;      
    &:disabled{
      background-color:rbga(255,255,255,0.4);
      color:black;
    }
  }
}

}